<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!--  <div class="singleTile">
    <div *ngFor="let item of pattern">
      <div *ngFor="let itemX of item">
        <div class="tile" [ngClass]="{'tilePatternWhite': itemX, 'tilePatternBlack': !itemX}">
         
        </div>
      </div>
    </div>
  </div> -->
  <p></p>

  <!-- <div class="singleTile">
    <div *ngFor="let item of playerTile; let j = index">
      <div *ngFor=" let itemX of item; let x=index" (click)="log(j,x)">
        <div class="tile" [ngClass]="{'tilePatternWhite': itemX, 'tilePatternBlack': !itemX}">

        </div>
      </div>
    </div>
  </div> -->
  <div class="singleTile">
    <div *ngFor="let item of fullBoard; let j = index">
      <div *ngFor=" let itemX of item; let x=index" (click)="log(j,x)">
        <div class="tile" [ngClass]="{'tilePatternWhite': itemX, 'tilePatternBlack': !itemX}">

        </div>
      </div>
    </div>
  </div>
  <p></p>
  <div class="halfBoard">
    <div *ngFor="let item of halfBoard; let j1 = index">
      <div *ngFor=" let itemX of item; let x1=index" (click)="log(j1,x1)">
        <div class="tile" [ngClass]="{'tilePatternWhite': itemX, 'tilePatternBlack': !itemX}">

        </div>
      </div>
    </div>
  </div>
</div>
<div>

</div>
